src/main/java/by/bsuir/aipos/sem6/soap/artifacts/SoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="SoapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:9000/SoapService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="requestToDeleteRecord">
<part name="parameters" element="tns:requestToDeleteRecord"></part>
</message>
<message name="requestToDeleteRecordResponse">
<part name="parameters" element="tns:requestToDeleteRecordResponse"></part>
</message>
<message name="requestToCreateRecord">
<part name="parameters" element="tns:requestToCreateRecord"></part>
</message>
<message name="requestToCreateRecordResponse">
<part name="parameters" element="tns:requestToCreateRecordResponse"></part>
</message>
<message name="requestToRetrieveRecord">
<part name="parameters" element="tns:requestToRetrieveRecord"></part>
</message>
<message name="requestToRetrieveRecordResponse">
<part name="parameters" element="tns:requestToRetrieveRecordResponse"></part>
</message>
<message name="requestToUpdateRecord">
<part name="parameters" element="tns:requestToUpdateRecord"></part>
</message>
<message name="requestToUpdateRecordResponse">
<part name="parameters" element="tns:requestToUpdateRecordResponse"></part>
</message>
<portType name="SoapService">
<operation name="requestToDeleteRecord">
<input wsam:Action="http://controller/SoapService/requestToDeleteRecordRequest" message="tns:requestToDeleteRecord"></input>
<output wsam:Action="http://controller/SoapService/requestToDeleteRecordResponse" message="tns:requestToDeleteRecordResponse"></output>
</operation>
<operation name="requestToCreateRecord">
<input wsam:Action="http://controller/SoapService/requestToCreateRecordRequest" message="tns:requestToCreateRecord"></input>
<output wsam:Action="http://controller/SoapService/requestToCreateRecordResponse" message="tns:requestToCreateRecordResponse"></output>
</operation>
<operation name="requestToRetrieveRecord">
<input wsam:Action="http://controller/SoapService/requestToRetrieveRecordRequest" message="tns:requestToRetrieveRecord"></input>
<output wsam:Action="http://controller/SoapService/requestToRetrieveRecordResponse" message="tns:requestToRetrieveRecordResponse"></output>
</operation>
<operation name="requestToUpdateRecord">
<input wsam:Action="http://controller/SoapService/requestToUpdateRecordRequest" message="tns:requestToUpdateRecord"></input>
<output wsam:Action="http://controller/SoapService/requestToUpdateRecordResponse" message="tns:requestToUpdateRecordResponse"></output>
</operation>
</portType>
<binding name="SoapServicePortBinding" type="tns:SoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="requestToDeleteRecord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestToCreateRecord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestToRetrieveRecord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestToUpdateRecord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SoapServiceService">
<port name="SoapServicePort" binding="tns:SoapServicePortBinding">
<soap:address location="http://localhost:9000/SoapService"></soap:address>
</port>
</service>
</definitions>